* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.image {
    width: 100px;
    height: 100px;
    border-radius: 120px;
}
.main-menu {
    background-color: #1B1F3B;
}
.nav-link {
    color: #FFFFFF;
    font-size: 25px;
    margin-left: 16px;
}
.carousel-item img {
    object-fit: cover;
}
.motto {
    color: #f2f7f5;
    background-color: #00C7C7;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    hyphens: auto;
}
.despre {
    background-color: #E6D8F5;
    padding: 10px;
    border-radius: 10px;
}
.despre-titlu {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.despre-image {
    width: 100%;
    border-radius: 10px;
}
.abonamente {
    background-color: #00C7C7;
    border-radius: 10px;
    padding: 15px;
}
.poza-editii-anterioare {
    width: 100%;
    border-radius: 10px;
}
.footer {
    color: #FFFFFF;
    background-color: #1B1F3B;
    padding: 10px;
    text-align: center;
}